<div class="portlet">  
  <div class="portlet-header">
    <h4>Table</h4> 
  </div> <!-- .portlet-header -->    
  
  <div class="portlet-content">  
    <!-- Start Table -->
    <table id="dataTable" cellpadding="0" cellspacing="0">        
      <thead>
        <tr>
          <th width="40%">Name</th>
          <th width="20%">Show</th>
          <th width="20%">Edit</th>
          <th width="20%">Destroy</th>              
          <th></th>
        </tr>
      </thead>          
      
      <tbody>
        <% @users.each do |user| %>
        <tr>
          <td class="alt"><%= link_to user.name, user %></td>
          <td class="alt"><%= link_to "Show", user %></td>              
          <td class="alt"><%= link_to "Edit", edit_user_path( user ) %></td>
          <td class="alt"><%= link_to "Destroy", user, :confirm => 'Are you sure?', :method => :delete %></td>
        </tr>          
        <% end %>
 
      </tbody>
    
    </table>
    <!-- End Table -->                  
  
  </div> <!-- .portlet-content -->  
  
</div> <!-- .portlet -->


<p><%= link_to "New User", new_user_path %></p>


