<% form_for @mention do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </p>
  <p>
    <%= f.label :context %><br />
    <%= f.text_area :context %>
  </p>
  <p>
    <%= f.label :pagerank %><br />
    <%= f.text_field :pagerank %>
  </p>
  <p>
    <%= f.label :num_followers %><br />
    <%= f.text_field :num_followers %>
  </p>
  <p>
    <%= f.label :register_at %><br />
    <%= f.datetime_select :register_at %>
  </p>
  <p>
    <%= f.label :query_id %><br />
    <%= f.text_field :query_id %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
