<% title "Mentions" %>

<div class="portlet">  
  <div class="portlet-header">
    <h4>Mentions by type <%= params[:type].capitalize %></h4>  
  </div> <!-- .portlet-header -->  
  
  <div class="portlet-content">
    <% @mentions.each do |mention| %>
    <div class="mention" id="mention-<%= mention.id %>">
      <div class="mention-favicon">
        <%= image_tag mention.m_favicon, :height => '16px', :width => '16px' %>
      </div>
      <div class="mention-body">
        <h3><%= link_to mention.m_title, mention.m_link, :target => '_blank' %></h3>
        <% if !mention.m_description.blank? %>
          <div class="mention-description"><%= mention.m_description %></div>
        <% end %>
        <div class="mention-footer">
          <p>
            <%= link_to mention.m_link, mention.m_link, :target => '_blank' %>
            <br />
            <% if !mention.m_timestamp.nil? %>
              on <%= mention.m_timestamp.strftime( "%Y-%m-%d %H:%M:%s" ) %>
            <% else %>
              fecha desconocida
            <% end %>
            - by <%= link_to mention.m_user, mention.m_user_link %> 
            on <%= link_to mention.m_source, "http://#{mention.m_domain}" %>
          </p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
