<% title "Mention" %>

<p>
  <strong>Type:</strong>
  <%=h @mention.type %>
</p>
<p>
  <strong>Context:</strong>
  <%=h @mention.context %>
</p>
<p>
  <strong>Pagerank:</strong>
  <%=h @mention.pagerank %>
</p>
<p>
  <strong>Num Followers:</strong>
  <%=h @mention.num_followers %>
</p>
<p>
  <strong>Register At:</strong>
  <%=h @mention.register_at %>
</p>
<p>
  <strong>Query:</strong>
  <%=h @mention.query_id %>
</p>

<p>
  <%= link_to "Edit", edit_mention_path(@mention) %> |
  <%= link_to "Destroy", @mention, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", mentions_path %>
</p>
