<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <title>CataMonitor Admin</title>
  <%= javascript_include_tag 'jquery' %>

  <%= stylesheet_link_tag 'custom', 'blue', 'my_style' %>  
  <!--[if IE 8]>  
    <%= stylesheet_link_tag 'ie8' %>
  <![endif]-->

  <!--[if IE 7]>  
    <%= stylesheet_link_tag 'ie7' %>
  <![endif]-->
</head>

<body class="layout-fixed">
  
<div id="page">

  <!-- Start #header -->
  <div id="header">
    
    <div class="pad">
      
      <h1 id="title"><%= link_to 'CataMonitor Admin', root_path %></h1>
      
      <div id="info">
        
        <div id="infoText">
          <% if current_user %>
            Bienvenido de nuevo <a href="javascript:;"><%= current_user.name %></a>
            <% if @query %>
              <br />
              Estás revisando tu query <strong>'<%= @query.query %>'</strong>
              <br />
              Con un rango de <strong><%= params[:num_days] %> días</strong>.
            <% end %>
          <% end %>
        </div> <!-- #infoText -->
        
        <div class="underlay"></div>
      </div>
      
    </div> <!-- .pad -->
    
  </div> <!-- #header -->
  
  <!-- Start #nav -->
  <div id="nav" class="clearfix">
    
    <ul>
      <% if @query && !@query.new_record? %>
        <li><%= link_to 'Gráfica', user_query_mentions_chart_path( @user, @query, params[:num_days] ), :class => (params[:action] == 'chart' ? 'current' : '') %></li>
        
        <% %w(blogs microblogs bookmarks comments events images news videos audio questions networks).each do |mention_type| %>
          <li><%= link_to mention_type.capitalize, user_query_mentions_by_type_path( @user, @query, mention_type, params[:num_days] ), :class => (params[:type] == mention_type ? 'current' : '') %></li>
        <% end %>
        
      <% end %>

      <% if current_user %>
        <li style="float: right"><%= link_to 'Salir', logout_path %></li>
        <li style="float: right"><%= link_to 'Mi cuenta', user_path( current_user ) %></li>
        <li style="float: right"><%= link_to 'Mis queries', user_queries_path( current_user ) %></li>
      <% end %>
    </ul>
    
  </div> <!-- #nav -->
  
  <!-- Start #body -->
  <div id="body">
    
    <h1 id="pageTitle">Dashboard</h1>
    
    <%- flash.each do |name, msg| -%>
      <p class="message message-<%= name %>"><%= msg %></p>
    <%- end -%>
    
    <!-- Start #main -->
    <div id="main">    
  
      <%= yield %>
      
    </div> <!-- #main -->    
    
    <!-- Start #sidebar -->
    <div id="sidebar">
      <% if @query && !@query.new_record? %>
        <div class="portlet">  
          <div class="portlet-header">
            <h4>Query Mentions (<%= @query.mentions.between_dates( Time.now - params[:num_days].to_i.days, Time.now ).count %>)</h4> 
          </div> <!-- .portlet-header -->    
        
          <div class="portlet-content">    
            <p>Small pieces of info. </p>
          
            <ul id="quick-info">
              <% %w(blogs microblogs bookmarks comments events images news videos audio questions networks).each do |mention_type| %>
                <li class="qi-articles"><%= link_to "#{@query.mentions.by_type( mention_type ).between_dates( Time.now - params[:num_days].to_i.days, Time.now ).count} #{mention_type.capitalize}", user_query_mentions_by_type_path( @user, @query, mention_type, params[:num_days] ) %></li>
              <% end %>
            </ul>
            
            <div class="clear"></div>
          </div> <!-- .portlet-content -->  
        </div> <!-- .portlet -->
      <% end %>
    </div> <!-- #sidebar -->

      
  </div> <!-- #body -->
  
  <!-- Start #footer -->
  <div id="footer">
    
    <p>Copyright &copy; 2010, CataMonitor, all rights reserved.</p>
    
  </div>

</div> <!-- #page -->

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-16576627-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>

</html>